
.app * {
  outline: 1px solid gray;
  width: 100%;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  height: 100%;
  width: 80vw;
  margin-inline: auto;
}
#root {
  height: 100%
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}



.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;

}
#messageBox {
  text-align: center;
  display: flex;
  flex-direction: column;
}
